<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2020 Abigail Getman-Pickering. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <!--
      Our minimum SDK is 23, so we don't need android.permission.INTERNET.
      https://www.reddit.com/r/Android/comments/382c81/android_m_all_android_apps_get_the_internet/

      We're using an intent to take photos (i.e. deferring to the built-in camera), so we don't need android.permission.CAMERA.
      Note though that we SHOULD NOT request it, because then it can be turned down, which will also block access to the built-in camera.
      https://www.egorand.dev/taking-photos-not-so-simply-how-i-got-bitten-by-action-image-capture/
      -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launchericon"
        android:label="LeafByte"
        android:roundIcon="@mipmap/launchericon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LeafByteActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Trigger Google Play services to install the backported photo picker module. -->
        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>

        <!-- So if the user takes a photo, we can access it (the camera passes it back to us via uri) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>