//
//  Secrets.xcconfig
//  LeafByte
//
//  Created by Abigail Getman-Pickering on 6/17/24.
//  Copyright © 2024 The Blue Folder Project. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// These client ids are in the Google Cloud Console LeafByte project owned by leafbyte.app@gmail.com
// They should not be checked in, which is why they're pulled out of the code into this partially gitignored file
// This really still isn't secure, and someone can pull these values out of the binary, but there's very little value to doing so, so we're just making it take a little more effort. The biggest value here is that source-code scanning doesn't flag this and disable our client id
GOOGLE_SIGN_IN_CLIENT_ID = FILL_ME_IN.apps.googleusercontent.com
GOOGLE_SIGN_IN_REDIRECT_URL = com.googleusercontent.apps.FILL_ME_IN:/oauth2redirect/google

// This is our legacy client id. It was leaked on GitHub (although we have no evidence that it was ever exploited), and after the introduction of granular permissions, it stayed without granular permissions until August 19, 2024
// This allowed a smooth rollout of a new version of LeafByte that has and handles granular permissions, while not immediately breaking users on the old version
// GOOGLE_SIGN_IN_CLIENT_ID = FILL_ME_IN.apps.googleusercontent.com
// GOOGLE_SIGN_IN_REDIRECT_URL = com.googleusercontent.apps.FILL_ME_IN:/oauth2redirect/google
