name: Android

# It's tempting to add a path filter here so that this only runs on changes to the android folder. However, that only looks at the most
# recent commit, so tests are incorrectly bypassed if several commits editing android are pushed with the latest one not touching android.
# Instead, we use a filter step below.
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  unitTest:
    name: Build and unit test Android
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write

    defaults:
      run:
        working-directory: android

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: $(( ${{ github.event_name == 'pull_request' && github.event.pull_request.commits || 0 }} + 1 ))
      - name: Get changed Android files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files: android/**
      - name: Note if Android files not changed
        if: steps.changed-files.outputs.any_changed != 'true'
        run: echo "Android is not affected"
      - name: Build and check (without instrumented checks)
        if: steps.changed-files.outputs.any_changed == 'true'
        # Continue so that we can see all failures and not just the first; this step still fails if anything fails.
        # I have no idea why lintVitalRelease is different from lint and why making check depend on it doesn't make it run:
        #   https://stackoverflow.com/questions/79009667/how-is-lintvitalrelease-different-from-lint-and-why-isnt-it-running
        run: ./gradlew check lintVitalRelease --continue
      - name: Upload unit test results
        uses: actions/upload-artifact@v5
        if: ${{ !cancelled() && steps.changed-files.outputs.any_changed == 'true' }}
        with:
          name: unitTestResults
          path: android/app/build/test-results/**/*.xml
          retention-days: 1
      # Warning: test results may appear on the wrong workflow, e.g. iOS or CodeQL https://github.com/orgs/community/discussions/24616
      - name: Publish unit test results
        uses: dorny/test-reporter@v2.2.0
        if: ${{ !cancelled() && steps.changed-files.outputs.any_changed == 'true' }}
        with:
          artifact: unitTestResults
          name: Android unit test results
          path: '**/*.xml'
          reporter: java-junit
          list-suites: failed
          list-tests: failed
          fail-on-error: false # the test running will have failed, so this step doesn't need to fail

  instrumentedTest:
    name: Run Android instrumented tests
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write

    defaults:
      run:
        working-directory: android

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: $(( ${{ github.event_name == 'pull_request' && github.event.pull_request.commits || 0 }} + 1 ))
      - name: Get changed Android files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files: android/**
      - name: Note if Android files not changed
        if: steps.changed-files.outputs.any_changed != 'true'
        run: echo "Android is not affected"
      - name: Enable KVM to allow hardware acceleration if available
        if: steps.changed-files.outputs.any_changed == 'true'
        # From instructions on https://github.com/ReactiveCircus/android-emulator-runner
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Run instrumented checks
        uses: ReactiveCircus/android-emulator-runner@v2.35.0
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          api-level: 28
          arch: x86_64
          disk-size: 6000M
          heap-size: 600M
          ram-size: 2048M
          disable-animations: true
          script: cd android && ./gradlew connectedCheck
      - name: Upload instrumented test results
        uses: actions/upload-artifact@v5
        # This (and certain other steps) uses `!cancelled`, because otherwise there's an implicit `success() &&`, even when tests fails
        if: ${{ !cancelled() && steps.changed-files.outputs.any_changed == 'true' }}
        with:
          name: instrumentedTestResults
          path: android/app/build/outputs/androidTest-results/connected/**/*.xml
          retention-days: 1
      # Warning: test results may appear on the wrong workflow, e.g. iOS or CodeQL https://github.com/orgs/community/discussions/24616
      - name: Publish instrumented test results
        uses: dorny/test-reporter@v2.2.0
        if: ${{ !cancelled() && steps.changed-files.outputs.any_changed == 'true' }}
        with:
          artifact: instrumentedTestResults
          name: Android instrumented test results
          path: '**/*.xml'
          reporter: java-junit
          list-suites: failed
          list-tests: failed
          fail-on-error: false # the test running will have failed, so this step doesn't need to fail
  
  checkBuildHealth:
    name: Check Android build health
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write

    defaults:
      run:
        working-directory: android

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: $(( ${{ github.event_name == 'pull_request' && github.event.pull_request.commits || 0 }} + 1 ))
      - name: Get changed Android files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files: android/**
      - name: Note if Android files not changed
        if: steps.changed-files.outputs.any_changed != 'true'
        run: echo "Android is not affected"
      - name: Check build health
        if: steps.changed-files.outputs.any_changed == 'true'
        run: ./gradlew buildHealth
